

@font-face {
    font-family: 'Acta';
    src: url('~@/assets/fonts/Acta.ttf') format('truetype');
}

@font-face {
  font-family: 'Tinos';
  src: url('~@/assets/fonts/Tinos.ttf') format('truetype');
}
@font-face {
  font-family: 'Tinos-Bold';
  src: url('~@/assets/fonts/Tinos-Bold.ttf') format('truetype');
}